<% include ./header.ejs %>
<style type="text/css">
    

</style>
<div class="about-page main grid-wrap">

        <header class="grid col-full">
        <hr>
            <p class="fleft">关于我们</p>
        </header>
        <aside class="grid col-one-quarter mq2-col-full">
            <p class="mbottom">
                视工作为修行， <br>
                视品质如生命， <br>
                视任务如作品，<br>
                视口碑如人品。
            </p>
            <menu>
                <hr>
                <ul>
                    <li><a href="#navteam">家谱博物馆简介</a></li>
                    <li><a href="#navphilo">馆长致辞</a></li>
                    <li><a href="#navother">联系我们</a></li>
                </ul>
            </menu>
        </aside>
        
        <section class="grid col-three-quarters mq2-col-full">
            <img src="<%=static_dir%>/img/team.jpg" alt="">
            
            <article id="navteam">
            <h2>家谱博物馆简介</h2>
            <p>
                <dl>
                    　　  常州家谱馆是由常州谱牒文化研究会会长朱炳国先生创办，常州市华音公益文化基金会（筹）谱牒文化基金资助的民间藏品馆，2015年12月常州家谱馆被常州市社科联授常州市社科示范基地。
                    本馆珍藏新老谱及电子版家谱共1000余套，计10000余册，涉及江南地区近200个姓氏。同时，还有部分古老的谱牒木刻雕版。
                    馆藏主题分为八大部分：姓氏起源、百姓图腾、家谱起源、修谱指南、常州祠堂简介、云溪名门、家谱实物、谱牒雕版，从不同方面展示与介绍谱牒文化常识。... [详细]
                </dl>
            </p>
            </article>
            
            <article id="navphilo">
            <h2>馆长致辞</h2>
                <p>亲爱的朋友们：<br>

                    　　欢迎浏览湖南省博物馆网站！我馆网站自2006年建设开通以来，得到了社会各界的关爱和支持，点击率在全国文博网中一直位居前列。这既是对我馆网站的信赖与肯定，也是对我们未来的激励与鞭策。

                    　　一直以来，湖南省博物馆网站是实现我馆根本宗旨——服务公众的重要平台。改扩建特殊时期，为了更好地承担起展示湖湘文化瑰宝，传播知识，启迪心灵，与公众沟通交流等重任，我馆网站以全新的面貌改版上线了，并在今后的日子里持续更新，为公众提供更多更好的博物馆知识与资讯。

                    　　愿我们的网站给您带来艺术的享受，历史的感怀，文化的浸染，思考的乐趣……使您在浏览中有所收获并感受到心灵的愉悦。 </p>
            </article>
            
            <article id="navother">
            <h2>联系我们</h2>
            <p>
                <dl>
                    <dd>- 电话：朱老师 15555555858</dd>
                    <dd>- 邮箱：zhu@163.com</dd>
                    <dd>- 地址：常州市天宁区前北岸64号  </dd>
                    <dd>- 开馆时间：周一至周五</dd>
                    <dd>- 上午：9:00-12:00</dd>
                    <dd>- 下午：14:00-18:00</dd>
                </dl>
            </p>
                <img  style="width :50px ;height:50px;" src="<%=static_dir%>/img/erweima.jpg" alt="">
            </article>
        
        </section>
        
    </div>
<% include ./footer.ejs %>